.newsletterForm {
    padding: 80px 0;
  }
  
  .newsletterForm :global(.vtex-input-prefix__group) {
    height: 60px;
    max-width: 361px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(72, 57, 255, 0.25);
  }
  
  .newsletterForm :global(.vtex-styleguide-9-x-input) {
    padding-left: 40px;
    font-size: 12px;
    font-family: "Poppins";
    color: #808080;
    line-height: 60px;
  }
  
  .formSubmitContainer :global(.vtex-button) {
    height: 60px;
    max-width: 361px;
    width: 100%;
    border-color: #4839ff;
    background: #4839ff;
    color: #fff;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 18px;
    border-radius: 10px;
  }
  
  @media (max-width: 1024px) {
  }
  