.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

.searchResultContainer:global(.vtex-store-components-3-x-container) {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.galleryTitle--layout {
  margin: 0;
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
  font-size: 46px;
  line-height: 52px;
  color: #fff;
}

.galleryTitle--layout::before {
  content: "";
  width: 50px;
  height: 5px;
  background: #4839ff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}

@media (max-width: 1024px) {
  .galleryTitle--layout {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 32px;
  }
}
