.productHighlightWrapper--collection {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 200px;
}

.productHighlightText {
  background: #1DB8FB;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 800;
  border-radius: 20px;
  padding: 5px 15px;
}
